<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">SKLEP SPORTOWY PANEL ADMINISTRACYJNY</a>
    </div>
    <button type="button"
            class="btn btn-primary"
            routerLink="/admin/main/products">
      Produkty
    </button>
    <button type="button"
            class="btn btn-primary"
            routerLink="/admin/main/orders">
      Złożone zamówienia
    </button>
    <button type="button"
            class="btn btn-primary"
            routerLink="/admin/main/realizedOrders">
      Zamówienia zrealizowane
    </button>
  </div>
</nav>
